.cart-section{
    display: flex;
    flex-direction: column;
}

.normal-ticket{
    display: flex;
    flex-direction: row;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    height: 130px;
    align-items: center;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
}

.half-price-ticket{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 130px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
}

.seats{
    background-color: teal;
}

.sum-section{
    height: 100%;
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.ticket{
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    width: 60%;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.order-button{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1em;
    background-color: #FF3A3A;
    color: black;
    border-radius: 10px;
    border: 0;
    width: 15vw;
    height: 3em;
    margin-right: auto;
    margin-left: auto;
}

.place{
    display: flex;
    flex-direction: row;
}

.ticket-image{
    height: 15vh;
}

.total{
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 60%;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.register-header{
    text-align: center;
    margin-top: 2em;
    font-size: 30px;
}

.increment{
    background-color: rgba(0, 0, 0, 0.25);
    height: 37px;
    width: 37px;
}

.decrement{
    background-color: rgba(0, 0, 0, 0.25);
    height: 37px;
    width: 37px;
}

.ticket-input{
    height: 30px;
    width: 45px;
    text-align: center;
}