* {
    font-style: normal;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}

.cart-section{
    display: flex;
    flex-direction: column;
}

.normal-ticket{
    display: flex;
    flex-direction: row;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    height: 130px;
    align-items: center;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
}

.half-price-ticket{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 130px;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
}

.seats{
    background-color: teal;
    width: 60px;
    text-align: center;
}

/* Tu bedzie dla checked */
:checked {
    background-color:yellow;
}

.taken-seats{
    background-color: rebeccapurple;
    width: 60px;
    text-align: center;
}

.selected{
    background-color: violet;
    
}

.place-checkbox{
    color: black;
    width: 50px;
    height: 50px;
}

.non-selected{
    background-color: tomato;
}
.zajete{
    height: 40px;
    width: 100px;
    background-color: rebeccapurple;
}

.wybrane{
    height: 40px;
    width: 100px;
    background-color: rgb(33, 134, 250);
}

.wolne{
    height: 40px;
    width: 100px;
    background-color: teal;
}
.sum-section{
    height: 100%;
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
}

.ticket{
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    width: 60%;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.order-button{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1em;
    background-color: #FF3A3A;
    color: black;
    border-radius: 10px;
    border: 0;
    width: 15vw;
    height: 3em;
    margin-right: auto;
    margin-left: auto;
}

.place{
    display: flex;
    flex-direction: row;
}

.cart-header{
    text-align: center;
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;font-size: 20px;
}

.ticket-image{
    height: 15vh;
}

.total{
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 60%;
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}


.screen{
    margin: 50px;
    color: white;
    text-align: center;
    background-color: black;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.places-in-room{
    display: grid;
  grid-template-columns: repeat(3, 0fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  justify-content: center;
}

.legenda{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 320px;
}

.increment{
    background-color: rgba(0, 0, 0, 0.25);
    height: 37px;
    width: 37px;
}

.decrement{
    background-color: rgba(0, 0, 0, 0.25);
    height: 37px;
    width: 37px;
}

.ticket-input{
    height: 30px;
    width: 45px;
    text-align: center;
}


@media only screen and (max-device-width: 420px){
    .order-button{
        width: 60vw;
    }

    .normal-ticket{
        width: 90%;
        height: 110px;
    }

    .half-price-ticket{
        width: 90%;
        height: 110px;
    }

    .sum-section{
        padding: 0;
    }

    .div-ticket-image{
        display: none;
    }

    .ticket{
        width: 95%;
        font-size: 13px;
    }

    .place{
        flex-direction: column;
    }

    .screen{
        width: 90vw;
    }
}
