.container-admin{
    display: flex;
    flex-direction: row;
    transform: translate(0, 40%);
    justify-content: center;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 50%;
    height: 50vh;
    align-items: center;
    border-radius: 0.7em;
    padding: 1em;
    overflow: auto;
}

.film{
    display: flex;
    flex-direction: row;
    background-color: #ECECEC;
    width: 20vw;
    height: 10vh;
    border-radius: 10px;
    padding: 0.5em;
    align-items: center;
    margin: 1em;
    justify-content: space-between;
}

.filmEditBox{
    text-align: center;
    padding: 1em;
    transform: translate(0, 30%);
    margin: 1em;
    border-left: 1px solid black;
}

.screeningEditBox{
    text-align: center;
    padding: 1em;
    transform: translate(0, 30%);
    margin: 1em;
}