html, body {
    width: 100vw;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.66) 0%, rgba(255, 255, 255, 0) 100%), #DDDBDB;
    margin: 0;
}

*{
    font-style: normal;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Roboto', sans-serif;
    
}

.logo{
    margin-left: 0;
}

.haeder{
    background: #C4C4C4;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    display: flex;
}

.container-film{
    display: flex;
    flex-direction: row;
}

.details{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.data-time{
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
}

.cinema-location{
    align-items: center;
}

.title{
    text-align: center;
    padding: 0.5em;
    font-size: 28px;
}

.photo{
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
    width: 40vw;
    text-align: center;
}

.details{
    width: 60vw;
    margin-right: 5vw;
    padding: 1em;
    font-family: Roboto;
font-style: normal;
font-weight: 300;
}

.description{
    padding: 1em;
}

.date{
    display: flex;
    flex-direction: row;
}

.time{
    display: flex;
    flex-direction: row;
}

.booking-button{
    background-color: #FF3A3A;
    color: black;
    border-radius: 10px;
    border: 0;
    width: 15vw;
    height: 3em;

}

.trailer{
    text-align: center;
}

.data-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}

.time-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}

.time-div{
    text-align: center;
}

.date-div{
    text-align: center;
}

@media only screen and (max-device-width: 420px){

.photo{
    width: 90vw;
}

.film-image {
    width: 320px;
    height: 391px;
}

.container-film{
    flex-direction: column;
}

.details{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.data-icon{
    font-size: 35px;
}

.time-icon{
    font-size: 35px;
}

.data-time{
    font-size: 1.2em;
}

.booking-button{
    width: 55vw;
}

iframe{
    width: 98vw;
}
}