html, body {
    width: 100vw;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.66) 0%, rgba(255, 255, 255, 0) 100%), #DDDBDB;
    margin: 0;
    overflow: auto;
}

*{
    font-style: normal;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Roboto', sans-serif;
    
}

.logo{
    margin-left: 0;
}

.haeder{
    background: #C4C4C4;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

.login-register-buttons{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2em;
    margin: 0;
}

.login-register-buttons>button{
    background-color: transparent;
    border: 0;
    outline: 0;
    height: 2em;
    cursor: pointer;
    font-size: 30px;
}

.login-register-buttons-mobile>button{
    background-color: transparent;
    border: 0;
    outline: 0;
    height: 2em;
    font-size: 30px;
}

.cinema-location{
    align-items: center;
}

.recomended{
    text-align: center;
    padding: 0.5em;
    font-size: 28px;
}

.recomended-films{
    display: flex;
    flex-direction: row;
}

.repertoire{
    background-color: #C4C4C4;
    height: 15em;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

.the-film{
    display: flex;
    flex-direction: row;
    padding: 3em;
}

.film-details{
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 1em;
    justify-content: center;
}


.time>button{
    border: 0;
    border-radius: 5px;
    background-color: white;
    color: black;
    height: 3em;
    width: 8em;
    margin: 1em;
}


.time>button:hover{
   background-color: rgb(209, 203, 203);
   border: 1px solid #FF3A3A;

}
.repertoire-buttons{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.repertuar{
    text-align: center;
    padding: 0.5em;
    font-size: 28px;
}

.repertoire-buttons>button{
    border: 0;
    background-color: transparent;
    color: black;
    font-size: 40px;
    height: 2em;
    width: 4em;
    font-weight: bold;
}

.short-description{
    padding: 2em;
}
.operation-buttons{
    margin: auto;
}

.film-image{
    width: 450px;
    height: 550px;
    box-shadow: 5px 5px 13px -2px rgba(0,0,0,0.75);
}

.screening-image{
    width: 350px;
    height: 427px;
    box-shadow: 5px 5px 13px -2px rgba(0,0,0,0.75);
}

.operation-buttons>button{
    background-color: #FF3A3A;
    color: black;
    border-radius: 10px;
    border: 0;
    width: 15vw;
    height: 3em;
}

/*footer*/
footer{
    bottom:0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #C4C4C4;
    opacity: 80%;
}

.about-us{
    width: 33vw;
    flex-direction: column;
    display: flex;
    padding: 1em;
}

.contact{
    width: 33vw;
    flex-direction: column;
    display: flex;
    padding: 1em;
}

.map{
    width: 33vw;
    flex-direction: column;
    display: flex;
    padding: 1em;
}


[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  /* custom styles */
  label {
    display: block;
  }
  .choose-date {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
    height: 45px;
    margin-right: 20px;
  }

.order-button{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 1em;
    background-color: #FF3A3A;
    color: black;
    border-radius: 10px;
    border: 0;
    width: 15vw;
    height: 3em;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

.monday{
    height: 50px;
width: 80px;
}

.mapka{
    height: 200px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    padding: 1em;
    overflow: auto;
}

.hamburger-react{
    display: none;
}

.login-register-buttons-mobile{
    display: none;
    cursor: pointer;
}

@media only screen and (max-device-width: 420px){
    .logo{
        height: 60px;
    }

    .login-btn{

    }

    .register-btn{

    }

    .login-register-buttons{
        display: none;
    }

    .login-register-buttons-mobile{
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 60vh;
        width: 100%;
        background-color:#C4C4C4;
        justify-content: center;
    }

    .repertoire {
        background-color: #C4C4C4;
        height: 8em;
        padding: 1em;
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .repertuar {
        text-align: center;
        padding: 0.5em;
        font-size: 28px;
        margin: 0;
    }

    .the-film {
        display: flex;
        flex-direction: column;
        padding: 1.5em;
    }

    .screening-image {
        width: 290px;
        height: 354px;
        box-shadow: 5px 5px 13px -2px rgb(0 0 0 / 75%);
    }

    .film-details>h1{
        font-size: 20px;
    }

    .short-description {
        display: none;
    }

    .order-button{
        width: 60vw;
    }

    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .footerr{
        flex-direction: column;
    }

    .map{
        width: 80vw;
    }

    .about-us{
        width: 90vw;
    }

    .slider{
        margin: 0;
    }

    .hamburger-react{
        display: flex;
        top: 5px;
    }

    
}


