html, body {
    width: 100vw;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.66) 0%, rgba(255, 255, 255, 0) 100%), #DDDBDB;
    margin: 0;
    overflow: auto;
}

*{
    font-style: normal;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Roboto', sans-serif;
    
}

.logo{
    margin-left: 0;
}

.haeder{
    background: #C4C4C4;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    display: flex;
}

.login-register-buttons{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2em;
    margin: 0;
}

.login-register-buttons>button{
    background-color: transparent;
    border: 0;
    outline: 0;
    height: 2em;
    font-size: 30px;
}

.cinema-location{
    align-items: center;
}

.recomended{
    text-align: center;
    padding: 0.5em;
    font-size: 28px;
}

.recomended-films{
    display: flex;
    flex-direction: row;
}

.repertoire{
    background-color: #C4C4C4;
    height: 15em;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

.the-film{
    display: flex;
    flex-direction: row;
    padding: 3em;
}

.film-details{
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 1em;
}

.film-image{
    width: 30vw;
    text-align: center;
}

.time>button{
    border: 0;
    border-radius: 5px;
    background-color: white;
    color: black;
    height: 3em;
    width: 4em;
}
.repertoire-buttons{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.repertuar{
    text-align: center;
    padding: 0.5em;
    font-size: 28px;
}

.repertoire-buttons>button{
    border: 0;
    background-color: transparent;
    color: black;
    font-size: 40px;
    height: 2em;
    width: 4em;
    font-weight: bold;
}

.short-description{
    padding: 2em;
}



.operation-buttons>button{
    background-color: #FF3A3A;
    color: black;
    border-radius: 10px;
    border: 0;
    width: 15vw;
    height: 3em;
}

/*footer*/
footer{
    bottom:0;
    background:#b5fbbd;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #C4C4C4;
    opacity: 80%;
}

.about-us{
    width: 33vw;
    flex-direction: column;
    display: flex;
    padding: 1em;
}

.contact{
    width: 33vw;
    flex-direction: column;
    display: flex;
    padding: 1em;
}

.map{
    width: 33vw;
    flex-direction: column;
    display: flex;
    padding: 1em;
}