.slider{
    width: 90%;
    padding: 1em;
    margin: 80px;
}

.slick-prev::before, .slick-next::before{
    font-size: 50px;
}



.slick-prev {
    left: -75px;
}

@media only screen and (max-device-width: 420px){

    .slider{
        margin: 0;
    }

    .slick-prev {
        left: 0px;
        z-index: 9999;
    }

    .slick-next {
        right: 30px;
    }

}