*{
    font-style: normal;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}

.logo{
    margin: 7px;
}

.container-film{
    display: flex;
    flex-direction: row;
    width: 85%;
    margin-top: 50px;
}

.details{
    display: flex;
    flex-direction: column;
}

.data-time{
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
}

.cinema-location{
    align-items: center;
}

.list{
    padding: 2em;
    width: 60vw;
    text-align: center;
}

.full-details{   
    padding: 4em;
}

.full-details > h1{
    text-align: center; 
}

.blur {
    filter: blur(4px);
}

.popup-btn{
    background-color: transparent;
    border-color: transparent;
    font-size: 40px;
    margin: 10px;
    position: fixed;
    color: #f27b13;
}

.popup{
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 70vh;
    overflow: auto;
    top: 15vh;
    left: 12vw;
    width: 77vw;
    border-radius: 14px;
}

.title{
    text-align: center;
    padding: 0.5em;
    font-size: 28px;
    font-family: 'Cunia', sans-serif;
    color: #494848;
}

.photo{
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
    width: 40vw;
    text-align: center;
}

.details{
    width: 60vw;
    margin-right: 5vw;
    padding: 1em;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
}

.description{
    padding: 2em;
    height: 64px;
    overflow: clip;
    width: 35vw;
    text-align: justify;
}

.date{
    display: flex;
    flex-direction: row;
}

.time{
    display: flex;
    flex-direction: row;
}

.booking-button{
    background-color: #f27b13;
    color: black;
    border-radius: 10px;
    border: 0;
    width: 15vw;
    height: 3em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.trailer{
    text-align: center;
    margin-top: 70px;
}

.data-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}

iframe{
    max-width: 55%;
    height: 500px;
    width: -moz-available;
}

.time-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}

.time-div{
    text-align: center;
}

.date-div{
    text-align: center;
}

@media only screen and (max-device-width: 420px){

    .photo{
        width: 80vw;
    }

    .film-image {
        width: 100%;
        height: 391px;
    }

    .title{
        padding: 0;
    }

    .container-film{
        flex-direction: column;
        width: 90vw;
        margin: 20px;
    }

    .full-details {
        width: 98vw;
        padding: 0;
    }

    .description{
        width: auto;
        height: auto;
        padding: 0;
    }

    .details{
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }

    .data-icon{
        font-size: 35px;
        padding-left: 0;
    }

    .time-icon{
        font-size: 35px;
    }

    .data-time{
        font-size: 1.2em;
    }

    .booking-button{
        width: 55vw;
    }

    iframe{
        max-width: 90%;
        height: 380px;
    }

    .popup{
        left: 2vw;
        width: 95vw;
    }

    .list {
        padding: 1em;
        width: 90vw;
        text-align: center;
    }
}