html, body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.66) 0%, rgba(255, 255, 255, 0) 100%), #DDDBDB;
}

*{
    font-weight: normal;
    margin-left: auto;
    font-family: 'Roboto', sans-serif;
    margin-right: auto;
    font-style: normal;
}

.logo-login{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5em;
}

.container-login{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 50vw;
    height: 50vh;
    align-items: center;
    border-radius: 0.7em;
    padding: 1em;
}

.container-login>form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email{
    width: 22vw;
    margin: 2em;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #000000;
    text-align: center;
}

#password{
    width: 22vw;
    margin: 2em;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #000000;
    text-align: center;
}

.login-button{
    margin: 2em;
    padding: 0.3em;
    background-color: #f27b13;
    color: black;
    border-radius: 10px;
    border: 0;
    width: 15vw;
    height: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.register-button{
    margin: 1em;
    padding: 0.3em;
    margin-top: 0;
    background-color: #f27b13;
    color: black;
    border-radius: 10px;
    border: 0;
    width: 15vw;
    height: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.register-header{
    text-align: center;
    margin-top: 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Cunia', sans-serif;
    color: #494848;
    margin-bottom: 50px;
}

form>input{
    width: 22vw;
    margin: 2em;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #000000;
    text-align: center;

}

@media only screen and (max-device-width: 420px){
    
    .logo-login{
        width: 50%;
    }

    .container-login{
        width: 80%;
    }

    .register-header {
        display: none;
    }

    #email{
        width: 60vw;
        margin: 1em;
    }

    #username{
        margin: 1em;
    }
    #password{
        width: 60vw;  
        margin: 1em; 
    }

    form > input{
        width: 60vw;
    }

    .login-button{
        width: 50vw;
        height: 2.4em;
    }

    .register-button{
        width: 50vw;
        height: 2.4em;
    }
}

