.slider{
    width: 90%;
    padding: 1em;
    margin: 80px;
    height: 550px;
}

.slick-prev::before, .slick-next::before{
    font-size: 50px;
}



.slick-prev {
    left: -75px;
}


/**
 * CSS3 Preloaders
 * https://danielpietrasik.pl/css3-preloaders/
 **/


 .preloader,
 .preloader:before,
 .preloader:after {
     background: #FF3A3A;
     animation: animation 1s infinite ease-in-out;
     width: 12px;
     
 }
 
 .preloader:before,
 .preloader:after {
     position: absolute;
     content: '';
 }
 
 .preloader:before {
     left: -20px;
     animation-delay: -0.32s;
 }
 
 .preloader {
    width: 10px !important;
    display: flex !important;
     margin: 230px auto 40px;
     transform: translateZ(0);
     animation-delay: -0.16s;
 }
 
 .preloader:after {
     left: 20px;
 }
 
 @keyframes animation {
     0%,
     80%,
     100% {
         box-shadow: 0 0 #FF3A3A;
         height: 40px;
     }
     40% {
         box-shadow: 0 -30px #FF3A3A;
         height: 80px;
     }
 }

@media only screen and (max-device-width: 420px){

    .slider{
        margin: 0;
    }

    .slick-prev {
        left: 0px;
        z-index: 9999;
    }

    .slick-next {
        right: 30px;
    }

}

