.container{
    display: flex;
    flex-direction: row;
    transform: translate(0, 40%);
}

.film{
    display: flex;
    flex-direction: row;
    background-color: #ECECEC;
    width: 20vw;
    height: 10vh;
    border-radius: 10px;
    padding: 0.5em;
    align-items: center;
    margin: 1em;
}

.filmEditBox{
    text-align: center;
    padding: 1em;
    transform: translate(0, 30%);
    margin: 1em;
    border-left: 1px solid black;
}