/* 



.register-header{
    text-align: center;
}

.logo-register{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5em;
    padding-bottom: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 50%;
    height: 50vh;
    align-items: center;
    border-radius: 0.7em;
    padding: 1em;
    overflow: auto;
}

.container>form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form>input{
    width: 30vw;
    margin: 1em;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #000000;
    text-align: center;

}


.login-button{
    margin: 1em;
    width: 15em;
    background-color: #FF4747;
    border-radius: 0.05em;
    border: 0;
    color: white;
    padding: 0.3em;
}

.register-button{
    margin: 1em;
    width: 15em;
    background-color: #FF4747;
    border-radius: 0.05em;
    border: 0;
    color: white;
    padding: 0.3em;
    margin-top: 0;

} */