html, body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.66) 0%, rgba(255, 255, 255, 0) 100%), #DDDBDB;
}

*{
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;

}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5em;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 50vw;
    height: 50vh;
    align-items: center;
    border-radius: 0.7em;
    padding: 1em;
}

.container>form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email{
    width: 30vw;
    margin: 1em;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #000000;
    text-align: center;

}

#password{
    width: 30vw;
    margin: 1em;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #000000;
    text-align: center;
    
}

.login-button{
    margin: 1em;
    width: 15em;
    background-color: #FF4747;
    border-radius: 0.05em;
    border: 0;
    color: white;
    padding: 0.3em;
}

.register-button{
    margin: 1em;
    width: 15em;
    background-color: #FF4747;
    border-radius: 0.05em;
    border: 0;
    color: white;
    padding: 0.3em;
    margin-top: 0;
}