html, body {
    width: 100vw;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.66) 0%, rgba(255, 255, 255, 0) 100%), #eceaea;
    /* background-color: white; */
    margin: 0;
    overflow: auto;
    scroll-behavior: smooth;
}

/*footer*/
footer{
    bottom:0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: #C4C4C4;
}

.haeder{
    background-color:#C4C4C4;
    /* background-color: white; */
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}

a {
    text-decoration: none;
}

button:hover{
    transform: scale(1.05, 1.05);
}